# Ignore virtual environments (heavy and useless in Docker)
.venv
env
venv

# Ignore the dataset (we don't want to copy 3GB of CT Scans into the image!)
data/

# Ignore Git history
.git

# Ignore Python compilation and cache folders
__pycache__
*.pyc

# Ignore C++ libraries we downloaded (heavy)
onnxruntime-linux-x64-gpu-1.16.3/
inference_cpp

# Ignore visual results (GIFs, PNGs)
results/

# Ignore local predictions
outputs/predictions/